
body {
    font-family: 'Roboto', sans-serif;
}

.empty-cart-message {
    font-family: 'Roboto', sans-serif;
    
}

h1, h2, h3, p {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.cart-container {
    max-width: 600px;
    margin: 0 auto;
}

.cart-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.cart-item h3 {
    margin-top: 0;
}

.cart-item p {
    margin: 5px 0;
}

.remove-button {
    background-color: #dc3545;
    font-family: 'Roboto', sans-serif;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #c82333;
}
